@import "Css/components/alt-screen-header.css";
@import "Css/components/badge.css";
@import "Css/components/icon-row.css";
@import "Css/components/nav-bar.css";
@import "Css/components/no-mobile.css";
@import "Css/components/screen-header.css";
@import "Css/components/status-bar.css";
@import "Css/components/user-component.css";

@import "Css/screens/chat.css";
@import "Css/screens/find.css";

@import "Css/screens/friends.css";
@import "Css/screens/login.css";
@import "Css/screens/more.css";
@import "Css/screens/setting.css";

@import "Css/reset.css";
@import "Css/styles.css";
@import "Css/variables.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
