@import "/Users/eunjoolee/Desktop/KoKoa clone/KoKoa-clone/Css/reset.css";
@import "/Users/eunjoolee/Desktop/KoKoa clone/KoKoa-clone/Css/variables.css";

@import "/Users/eunjoolee/Desktop/KoKoa clone/KoKoa-clone/Css/components/status-bar.css";
@import "/Users/eunjoolee/Desktop/KoKoa clone/KoKoa-clone/Css/components/screen-header.css";
@import "/Users/eunjoolee/Desktop/KoKoa clone/KoKoa-clone/Css/screens/login.css";
@import "/Users/eunjoolee/Desktop/KoKoa clone/KoKoa-clone/Css/components/nav-bar.css";
@import "/Users/eunjoolee/Desktop/KoKoa clone/KoKoa-clone/Css/screens/friends.css";
@import " /Users/eunjoolee/Desktop/KoKoa clone/KoKoa-clone/Css/user-component.css";
@import "/Users/eunjoolee/Desktop/KoKoa clone/KoKoa-clone/Css/components/badge.css";
@import "/Users/eunjoolee/Desktop/KoKoa clone/KoKoa-clone/Css/screens/find.css";
@import "/Users/eunjoolee/Desktop/KoKoa clone/KoKoa-clone/Css/components/icon-row.css";
@import "/Users/eunjoolee/Desktop/KoKoa clone/KoKoa-clone/Css/screens/more.css";
@import "/Users/eunjoolee/Desktop/KoKoa clone/KoKoa-clone/Css/components/alt-screen-header.css";
@import "/Users/eunjoolee/Desktop/KoKoa clone/KoKoa-clone/Css/screens/setting.css";
@import "/Users/eunjoolee/Desktop/KoKoa clone/KoKoa-clone/Css/screens/chat.css";
@import "/Users/eunjoolee/Desktop/KoKoa clone/KoKoa-clone/Css/components/no-mobile.css";
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
